body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.container{
    max-width: 700px;
    width: 80%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}
.container form .booking{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .booking .input-box{
    margin: 20px 0 12px 0;
    width: calc(100% / 2 - 20px);
}
.booking .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px; 
}

.booking .input-box input{
    height: 45px;
    width: 100%;
    outline: none; 
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
}

form .button{
    height: 45px;
    margin: 45px 0;
}

form .button input{
    height: 45px;
    width: 1000%;
    align-items: center;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

form .button input:hover{
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

@media (max-width : 584px){
    .container{
        max-width: 100%;
    }
    form .booking .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    .container form .booking{
        max-height: 300px;
        overflow-y: scroll;
    }
    .booking::-webkit-scrollbar{
        width: 0;
    }
}
    

    

 

